<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deppon.dpapp.test">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application android:allowBackup="false">
        <!-- linkage for the test runner -->
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.deppon.dpapp" />

</manifest>
